//Base is the default
@import "./variables";

html,
body,
form {
  margin: 0;
  padding: 0;
  background-color: $primary;
}

h1 {
  font-size: 2rem;
  color: $quaternary;
  text-align: center;
  text-decoration: underline;
}
