

// Variables for saving sass variables

// Colors
$primary: #ffffff;
$secondary: #f7f7f7;
$tertiary: #74c0c8;
$quaternary: #4a4a4a;

//Spacing
$sp-xs: 5px;
$sp-s: 10px;
$sp-m: 15px;
$sp-l: 20px;
$sp-xl: 30px;